
/* Style the page below here */

/* Style the buttons below here */

/* Style the cards below here */

#card-structure{
    display: flex;
    justify-content: center;
   
}

.number-container {
    position: absolute;
    top: 8px;
    left: 8px;
    font-size: 32px;
    font-weight: bold;
    color: #333;
}

.suit-container {
    position:absolute;
    bottom: 8px;
    right: 8px;
    font-size: 28px;
    color: #555;
  }

.back-card,
.card-front{
    width: 120px; 
    margin: 30px;              
    height: 180px;              
    border: 2px solid black;    
    border-radius: 10px;        
    padding: 10px;              
    box-sizing: border-box;  
    position: relative;  
}

